<%include ../public/header.html%>
<%include ../public/sidebar.html%>
<!--main contents start-->
<main class="content_wrapper">
<!--page title start-->
<div class="page-heading">
	<div class="container-fluid">
		<div class="row d-flex align-items-center">
			<div class="col-md-6">
				<div class="page-breadcrumb">
					<h1>详情管理</h1>
				</div>
			</div>
			<div class="col-md-6 justify-content-md-end d-md-flex">
				<div class="breadcrumb_nav">
					<ol class="breadcrumb">
						<li>
							<i class="fa fa-home"></i>
							<a class="parent-item" href="/admin/detail">详情管理</a>
							<i class="fa fa-angle-right"></i>
						</li>
						<li class="active">
							增加详情
						</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</div>				
<!--page title end-->
<div class="container-fluid">
<!-- state start-->
	<div class="row">
		<div class=" col-xl-12">
			<div class="card card-shadow mb-4">
				<div class="card-header">
					<div class="card-title">
						增加详情
					</div>
				</div>
				<div class="card-body">
                    <form method="POST" action="/admin/detail/doAdd">
                        <input type="hidden" name="detail_id" value="<%=detail_id%>"/>
						<textarea id="summernote" name="content"></textarea>
					
						<button type="submit" class="btn btn-primary">
							确 定
						</button>
					
					</form>
				</div>
			</div>
	
		</div>
	</div>
	<!-- state end-->
</div>

</main>
<!--main contents end-->
</div>
<!-- Content_right_End -->
<!-- Footer -->
<%include ../public/footer.html%>
<!-- Footer_End -->
</div>
		
</body>
<script type="text/javascript" src="/public/admin/js/jquery.min.js"></script>
<script type="text/javascript" src="/public/admin/js/popper.min.js"></script>
<script type="text/javascript" src="/public/admin/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/public/admin/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script type="text/javascript" src="/public/admin/js/jquery.dcjqaccordion.2.7.js"></script>
<script src="/public/admin/js/custom.js" type="text/javascript"></script>



<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote.min.js"></script>
<script src="https://cdn.bootcss.com/froala-editor/2.8.1/js/froala_editor.min.js"></script>
<script src="https://cdn.bootcss.com/froala-editor/2.8.1/js/plugins/align.min.js"></script>
<script src="https://cdn.bootcss.com/froala-editor/2.8.1/js/plugins/colors.min.js"></script>
<script src="https://cdn.bootcss.com/froala-editor/2.8.1/js/plugins/font_size.min.js"></script>
<script src="https://cdn.bootcss.com/froala-editor/2.8.1/js/plugins/char_counter.min.js"></script>
<script src="https://cdn.bootcss.com/froala-editor/2.8.1/js/languages/zh_cn.js"></script>
<script type="text/javascript">

$(document).ready(function() {
    $('#summernote').summernote({
        lang : 'zh-CN',// 语言
        height : 496, // 高度
        minHeight : 300, // 最小高度
        placeholder : '请输入文章内容', // 提示       
        // summernote自定义配置
        toolbar: [
            ['operate', ['undo','redo']],
            ['magic',['style']],
            ['style', ['bold', 'italic', 'underline', 'clear']],
            ['para', ['height','fontsize','ul', 'ol', 'paragraph']],
            ['font', ['strikethrough', 'superscript', 'subscript']],
            ['color', ['color']],
            ['insert',['picture','video','link','table','hr']],
            ['layout',['fullscreen','codeview']],
        ],
        callbacks : { // 回调函数
                // 上传图片时使用的回调函数   因为我们input选择的本地图片是二进制图片，需要把二进制图片上传服务器，服务器再返回图片url，就需要用到callback这个回调函数
                onImageUpload : function(files) { 
                    let form=new FormData();
                    form.append('img',files[0])  //myFileName 是上传的参数名，一定不能写错
                    $.ajax({
                        type:"post",
                        url:"/admin/detail/upload", //上传服务器地址
                        dataType:'json',
                        data:form,
                        processData : false,
                           contentType : false,
                           cache : false,
                           success:function(data){
                            console.log(data.data)                            
                              $('#summernote').summernote('editor.insertImage',data.data);
                           }
                    })
                }
            }
    });
});
</script>

</html>