<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta name="keywords" content="爱趣链,设计元素免费下载,免抠素材,位图,透明背景素材,透明背景图片,免抠png,高清png,图片素材,漂浮元素,装饰元素,节日元素,动植物元素,字体元素,标签元素,设计元素."/>
    <meta name="description" content="爱趣链,设计元素的免费下载网站,提供位图、透明背景素材、高清png、图片素材、漂浮元素、装饰元素、标签元素、字体元素、图标元素等免抠设计元素的免费下载."/> -->
    <meta name="baidu-site-verification" content="xYt9Kq0Ldn"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <link rel="stylesheet" type="text/css" href="/public/default/css/base.css?v=115"/>
    <link rel="apple-touch-icon-precomposed" href="/public/default/img/icon.png">
    <link rel="shortcut icon" href="/public/default/img/favicon.ico">
    <title>爱趣链</title>
    <meta name="keywords" content="爱趣链">
    <meta name="description" content="我们只为用户提供高质量的免费图片下载，用户也可以上传图片获得相应的积分">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
    <script src="static/js/html5shiv.js"></script>
    <script src="static/js/respond.min.js"></script>
    <![endif]-->
    <!-- ww.aliwen.vip Baidu tongji analytics -->
</head>
<body style="min-width:1200px;">
    <div id="header-wrap" class="header-wrap">
        <div class="content-flexible">
            <div class="header-logo-wrap">
                <a href="/" title="爱趣链">爱趣链</a>
            </div>
            <ul class="header-list">
                <li class="bcat-li"><a class="bcat-li-a" href="/beauty">唯美类</a>
                <div class="bcat-h-wrap">
                    <a href="/beauty?picture_id=1">美女图片</a>
                    <a href="/beauty?picture_id=2">小清淅图片</a>
                    <a href="/beauty?picture_id=3">意境图片</a>
                    <a href="/beauty?picture_id=4">搞笑图片</a>
                    <a href="/beauty?picture_id=5">好看图片</a>
                    <a href="/beauty?picture_id=6">明星图片</a>
                    <a href="/beauty?picture_id=7">唯美写真</a>
                    <a href="/beauty?picture_id=8">唯美可爱</a>
                </div>
                </li>
                <li class="bcat-li bbcat-h" style="margin-left:25px;"><a class="bcat-li-a" href="/back">背景类</a>
                <div class="bcat-h-wrap">
                    <a href="/beauty?picture_id=9">扁平/简约</a>
                    <a href="/beauty?picture_id=10">商务/科技</a>
                    <a href="/beauty?picture_id=11">文艺/清新</a>
                    <a href="/beauty?picture_id=12">卡通/手绘</a>
                    <a href="/beauty?picture_id=13">质感/纹理</a>
                    <a href="/beauty?picture_id=14">摄影/风景</a>
                    <a href="/beauty?picture_id=15">电商/狂欢</a>
                    <a href="/beauty?picture_id=16">复古/中国风</a>
                    <a href="/beauty?picture_id=17">另类/其他</a>
                </div>
                </li>
                <!-- <li style="margin-left:25px;"><a class="bcat-li-a" href="" onclick="statistNav(1);">赞助</a><span class="header-zhe-icon"></span></li> -->
                <li style="margin-left:25px;"><a class="bcat-li-a" href="">赞助</a></li>
               
                <li style="margin-left:25px;"><a class="bcat-li-a" href="/activity">活动</a></li>
            </ul>
            <div class="login-info">
                <ul class="user-login">
                    <li class="mr10"><a href="javascript:void(0);" title="登录" class="header-login-bt" onclick="loginBoxShow();"><span>登录</span></a></li>
                    <li><a href="javascript:void(0);" title="注册" class="header-reg-bt" onclick="regBoxShow();">1秒注册</a></li>
                </ul>
            </div>
            <div class="header-right-icons-wrap">
                </a><a class="header-right-icona" href="/upload" title="上传作品"><i class="header-ricon-i2"></i>
                <p>
                    上传
                </p>
                </a>
            </div>
        </div>
    </div>